body {
  margin: 0;
  /* background-image: url("./bg7.png"); */
  /* /* /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background-size: cover;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
